<?js
/*
title

Classes
Modules
Namespaces
Mixins
Externals
Globals
=========

if(constructor){
className
---------

* < attributes > new className(params)  
   description

   * details

   * Parameters:  
      | name       | type       | argument        | default       | description      |
      |------------|------------|-----------------|---------------|------------------|
      | param name | param type | optional        | default value | param descripton |
                                  repeatable
                                  nullable
   
   * Returns:  

      * {type} description

   * Example:

      ```
      example code
      ```
}else if(object){
objectName
--------------
description

* details
}
* Members:  
   * < attributes > memberName : {type}  
      description

      * details

* Methods:  
   * < attributes > methodName1(params) : {type}  
      description

      * details

      * Parameters:  
         | name       | type       | argument        | default       | description      |
         |------------|------------|-----------------|---------------|------------------|
         | param name | param type | optional        | default value | param descripton |
                                     repeatable
                                     nullable

      * Returns:  

        * {type} description

      * Example:  

        ```
        example code
        ```

ChangeLog
=========
*/

var self = this,
	captions = self.captions,
	println = self.println(print, "   "),
	kinds = ["externals", "globals", "namespaces", "classes", "mixins", "modules"],
	kind = "";

if(title){
	println(title, 0);
	println(Array(self.strLength(title) + 1).join("="), 0);
	print("\n");
}

for(var i = 0; i < kinds.length; i++){
	kind = kinds[i];
	if(data[kind] && data[kind].length){
		//header
		var caption = captions[kind] || kind
		println(caption, 0);
		println(Array(self.strLength(caption) + 1).join('='), 0);
		if(kind != 'globals') print("\n");

		print(self.partial('objects.tmpl', {indent: 0, kind: kind, data: data[kind]}));
		print("\n");
	}
}

//changeLog
println(captions["changeLog"], 0);
println(Array(self.strLength(captions["changeLog"]) + 1).join("="), 0);

?>