<?js
/*
* < attributes > name : {type}  
   description

   * details

   * Example:  

      ```
      code
      ```
*/
var self = this;
	captions = self.captions,
	println = self.println(print, "   "),
	types = "",
	details = "";

if(data.type && data.type.names){
	types = " : {" + data.type.names.join("|") + "}";
}

println("* " + (self.partial("attributes.tmpl", {data: data})) + data.name + types + "  ", indent);

if(data.description) println(data.description + "  ", indent + 1);

details = self.partial("details.tmpl", {indent: indent + 1, data: data});
if(details){
	print("\n");
	print(details);
}

if(data.examples){
	print("\n");
	print(self.partial("examples.tmpl", {indent: indent+1, data: data.examples}));
}

?>