<?js
/*
* name : {type}  (default=)  
   description

   * Example:  

      ```
      code
      ```
*/
var self = this;
var captions = self.captions;
var println = self.println(print, "   ");

var types = "";
var defaultvalue = "";
if(data.type && data.type.names){
	types = " : {" + data.type.names.join("|") + "}";
}
if(data.defaultvalue) defaultvalue = "  (" + captions.default_ + data.defaultvalue + ")";

println("* " + (data.kind != 'member' ? "(" + captions[data.kind] +") " : "") + data.name + types + defaultvalue + "  ", indent);

if(data.description) println(data.description + "  ", indent + 1);
if(data.examples){
	print("\n");
	print(self.partial("examples.tmpl", {indent: indent+1, data: data.examples}));
}

?>